li.a{
    position:absolute;
    left:5%;
    top:3.3%;
    text-align: left;
}
li.b{
  position:absolute;
  left:12%;
  top:1.3%;
}
li.c{
  position:absolute;
  left:18%;
  top:1.3%;
}
li.d{
  position: absolute;
  left:24%;
  top:1.3%;
}
li.e{
  position:absolute;
  left:30%;
  top:1.3%;
}
li.f{
  position:absolute;
  left:80%;
  top:1.3%;
}
li.g{
  position:absolute;
  left:95%;
  top:1.3%;
}

li.h1{
   padding: 50%;
    position:absolute;
    left:0%;
    top:10%;
  }
li.h2{
    position:absolute;
    left:0%;
    top:50%;
}
li.h3{
    position:absolute;
    left:30%;
    top:50%;
}
li.h4{
    position:absolute;
    left:60%;
    top:50%;
}
li.h5{
    position:absolute;
    left:0%;
    top:73%;
}
li.h6{
    position:absolute;
    left:30%;
    top:73%;
}
li.h7{
    position:absolute;
    left:60%;
    top:73%;
}
p.p1{
    font-size: 18px;
    position:absolute;
    left:41.8%;
    top:10%;
}