<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Course</title>
  <link href="css/index.css" rel="stylesheet"/>
</head>
<body>
<div class="main">
  <div class="sidenav">
    <div class="title">Lesson navigation</div>
    <ul>
      <li><a href="#1">Example: “Hello World” in a bottle</a></li>
      <li><a href="#2">Download and Install</a></li>

    </ul>
  </div>
  <div class="content">
    <img src="img/images/bottle1/image%2036.png" alt="banner"/>
    <p class="mute"><i>This article is credit to <a
        href="https://bottlepy.org/docs/dev/index.html">Bottle official</a></i></p>

    <h1>Bottle: Python Web Framework</h1>

    <p>Bottle is a fast, simple and lightweight WSGI micro web-framework for Python. It is distributed as a single file
      module and has no dependencies other than the Python Standard Library.</p>

    <ul class="simple">
      <li><strong>Routing:</strong> Requests to function-call mapping with support for clean and dynamic URLs.</li>
      <li><strong>Templates:</strong> Fast and pythonic <a class="reference internal"
                                                           href="https://bottlepy.org/docs/dev/tutorial.html#tutorial-templates"><span
          class="std std-ref">built-in template engine</span></a> and support for <a class="reference external"
                                                                                     href="http://www.makotemplates.org/">mako</a>,
        <a class="reference external" href="http://jinja.pocoo.org/">jinja2</a> and <a class="reference external"
                                                                                       href="http://www.cheetahtemplate.org/">cheetah</a>
        templates.
      </li>
      <li><strong>Utilities:</strong> Convenient access to form data, file uploads, cookies, headers and other
        HTTP-related metadata.
      </li>
      <li><strong>Server:</strong> Built-in HTTP development server and support for <a class="reference external"
                                                                                       href="http://pythonpaste.org/">paste</a>,
        <a class="reference external" href="https://github.com/jonashaag/bjoern">bjoern</a>, <a
            class="reference external" href="https://developers.google.com/appengine/">gae</a>, <a
            class="reference external" href="http://www.cherrypy.org/">cherrypy</a> or any other <a
            class="reference external" href="http://www.wsgi.org/">WSGI</a> capable HTTP server.
      </li>
    </ul>

    <h2 id="1">Example: “Hello World” in a bottle</h2>
    <img src="img/images/bottle1/bottle.png" alt="banner"/>
    <p>Run this script or paste it into a Python console, then point your browser to <a class="reference external"
                                                                                        href="http://localhost:8080/hello/world">http://localhost:8080/hello/world</a>.
      That’s it.</p>

    <h2 id="2">Download and Install</h2>

    <p>Install the latest stable release with <code class="docutils literal"><span class="pre">pip</span> <span
        class="pre">install</span> <span class="pre">bottle</span></code> or download <a class="reference external"
                                                                                         href="https://github.com/bottlepy/bottle/raw/master/bottle.py">bottle.py</a>
      (unstable) into your project directory. There are no hard <a class="footnote-reference" href="https://bottlepy.org/docs/dev/index.html#id3"
                                                                   id="id2">[1]</a> dependencies other than the Python
      standard library. Bottle supports <strong>Python 2.7 and Python 3</strong>.</p>

    <p><i>Deprecated since version 0.13: </i>Support for Python 2.5 and 2.6 was dropped with this release.</p>
    <img src="img/images/bottle1/image%2012.png" alt="banner"/>

  </div>
</div>

</body>
</html>