<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Course</title>
  <link href="css/index.css" rel="stylesheet"/>
</head>
<body>
<div class="main">
  <div class="course-title">
    Course & tutorial:
  </div>
  <div class="course-group">
    <a class="course-link js-1" href="js1"></a>
    <a class="course-link css-1" href="css1"></a>
    <a class="course-link py-1" href="py1"></a>
    <a class="course-link html-1" href="html1"></a>
    <a class="course-link bottle-1" href="bottle1"></a>
  </div>
  <div class="course-title">
    <img class="course-title-logo" src="img/images/index/i_.png"/>
    Pratice & Quiz:
  </div>
  <div class="course-group">
    <a class="course-link js-2" href="js2"></a>
    <a class="course-link css-2" href="css2"></a>
    <a class="course-link py-2" href="py2"></a>
    <a class="course-link html-2" href="html2"></a>
    <a class="course-link bottle-2" href="bottle2"></a>
  </div>
  <div class="course-footer">CROWN LOGO represents the featured course from our website.</div>
</div>

</body>
</html>