<!DOCTYPE html>
<html>
<head>
    <title>W4School - We teach web development</title>
    <link rel="stylesheet" href="/css/feed.css">
    <link rel="stylesheet" href="/css/temp.css">
    <script src="/js/script_head.js"></script>
</head>
<body>
<p>
<ul>

  <li class="h1"><img src="/img/feed1.png" max-height="10%" max-width="30%"></img></li>
 

  <li class="h2"><img src="/img/feed2.png" max-height="160" max-width="720"></img></li>
  <li class="h3"><img src="/img/feed3.png" height="160" width="720"></img></li>
  <li class="h4"><img src="/img/feed4.png" height="160" width="720"></img></li>
  <li class="h5"><img src="/img/feed5.png" height="160" width="720"></img></li>
  <li class="h6"><img src="/img/feed6.png" height="160" width="720"></img></li>
  <li class="h7"><img src="/img/feed7.png" height="160" width="720"></img></li>

</ul>
</p>
<p class="p1" rows="15" cols="30">
    Due to Covid we had to cancel CSS Day 2020. We hope to be back on 10th and 11th of June, 2021, but right now we cannot be certain. That's why we're going to take a decision once the Dutch government ends the current lockdown. Subscribe to our mailing list if you want to be updated as soon as we have news.
 </p>
</body>
</html>