<!DOCTYPE html>
<html>
<head>
    <title>W4School - We teach web development</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/temp.css">
    <script src="/js/script_head.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<p>
<ul>
  <li><a class="active" href="/home"><img src="/img/logo.svg"  height="70" width="70"></img></a></li>
  <li class="a"><a href="#">W4School</a></li>
  <li class="b"><a href="/course"><img src="/img/course.svg" height="50" width="50" ></img></a></li>
  <li class="c"><a href="/about"><img src="/img/forum.svg" height="50" width="50"></img></a></li>
  <li class="d"><a href="/feed"><img src="/img/feeds.svg" height="50" width="50"></img></a></li>
  <li class="e"><a href="#"><img src="/img/help.svg" height="50" width="50"></img></a></li>
  <li class="f"><a href="/logout"><img src="/img/search.svg" height="50" width="50"></img></a></li>
  <li class="g"><a href="/account"><img src="/img/user.svg" height="50" width="50"></img></a></li>
</ul>
</p>
