<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Course</title>
  <link href="css/index.css" rel="stylesheet"/>
</head>
<body>
<div class="main">
  <div class="sidenav">
    <div class="title">Lesson navigation</div>
    <ul>
      <li><a href="#1">HTML Exercise</a></li>
      <li><a href="#2">Quiz</a></li>
    </ul>
  </div>
  <div class="content">
    <img src="img/images/html2/image%201.png" alt="banner"/>
    <p class="mute"><i>This article is credit to <a
        href="https://www.w3schools.com/html/exercise.asp">W3School</a></i></p>

    <h1 id="1">HTML Exercise:</h1>

    <p>
      We have gathered a variety of HTML exercises (with answers) for each HTML Chapter.
    </p>

    <p>


      Try to solve an exercise by editing some code. Get a "hint" if you're stuck, or show the answer to see what you've
      done wrong.
    </p>

    <h2 id="2">Quiz:</h2>
    <p>
      Use the correct HTML tag to add a heading with the text “London.”</p>
    <img src="img/images/html2/image%2020.png" alt="1"/>
  </div>
</div>

</body>
</html>