<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Course</title>
  <link href="css/index.css" rel="stylesheet"/>
</head>
<body>
<div class="main">
  <div class="sidenav">
    <div class="title">Lesson navigation</div>
    <ul>
      <li><a href="#1">Use the Menu</a></li>
      <li><a href="#2">Why Study JavaScript?</a></li>
      <li><a href="#3">JavaScript Can Change HTML Content</a></li>
      <li><a href="#4">JavaScript Can Change HTML Styles (CSS)</a></li>
    </ul>
  </div>
  <div class="content">
    <img src="img/images/js1/image%201.png" alt="banner" style="width: 894px; height: 503px;"/>

    <br/>
    <p class="mute"><i>This article is credit to <a
        href="https://www.w3schools.com/js/DEFAULT.asp">W3School</a></i></p>

    <h1>JavaScript Tutorial For Beginning</h1>
    <p>JavaScript is the world's most popular programming language</p>
    <p>JavaScript is the programming language of the Web.</p>
    <p>JavaScript is easy to learn.</p>
    <p>This tutorial will teach you JavaScript from basic to advanced.</p>

    <h2 id="1">Use the Menu</h2>
    <p>We recommend reading this tutorial, in the sequence listed in the menu.</p>
    <p>If you have a large screen, the menu will always be present on the left.</p>
    <p>If you have a small screen, open the menu by clicking the top menu sign ☰.</p>

    <h2 id="2">Why Study JavaScript?</h2>
    <p>JavaScript is one of the 3 languages all web developers must learn</p>
    <ol>
      <li>HTML to define the content of web pages</li>
      <li>CSS to specify the layout of web pages</li>
      <li>JavaScript to program the behavior of web pages</li>
    </ol>

    <h2 id="3">JavaScript Can Change HTML Content</h2>
    <p>One of many JavaScript HTML methods is <code>getElementById().</code></p>
    <p>The example below "finds" an HTML element (with id="demo"), and changes the element content (innerHTML) to "Hello JavaScript":</p>
    <img src="img/images/js1/image%2019.png" alt="banner" style="width: 973px; height: 175px;"/>

    <h2 id="4">JavaScript Can Change HTML Styles (CSS)</h2>
    <p>Changing the style of an HTML element, is a variant of changing an HTML attribute:</p>
    <img src="img/images/js1/image%2021.png" alt="banner" style="width: 973px; height: 175px;"/>
  </div>
</div>

</body>
</html>