<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Course</title>
  <link href="css/index.css" rel="stylesheet"/>
</head>
<body>
<div class="main">
  <div class="sidenav">
    <div class="title">Lesson navigation</div>
    <ul>
      <li><a href="#1">What is React?</a></li>
      <li><a href="#2">How much JavaScript you need to know to use React</a></li>
      <li><a href="#3">How to install React</a></li>

    </ul>
  </div>
  <div class="content">
    <img src="img/images/js2/image%201.png" alt="banner" style="width: 894px; height: 503px;"/>
    <br/>

    <h1>React for Beginners – A React.js Handbook for Front End Developers</h1>
    <p class="mute"><i>This article is credit to <a
        href="https://www.freecodecamp.org/news/react-beginner-handbook/">Free Comp Code</a></i></p>

    <p>React is one of the most popular JavaScript frameworks ever created, and I believe that it's one of the best
      tools out there.

    </p>
    <p>The goal of this handbook is to provide a starter guide to learning React.</p>
    <p>At the end of the book, you'll have a basic understanding of:</p>

    <ul>
      <li>What React is and why it's so popular</li>
      <li>How to install React</li>
      <li>React Components</li>
      <li>React State</li>
      <li>React Props</li>
      <li>Handling user events in React</li>
      <li>Lifecycle events in a React component</li>
    </ul>

    <img src="img/images/js2/image%2018.png" alt="1" style="width: 428px; height: 281px; position: absolute; top: 850px; right: 100px;"/>

    <p>These topics will be the base upon which you will build in other more advanced React tutorials.
    </p>
    <p>This book is especially written for JavaScript programmers who are new to React. So let's get started.</p>

    <h2 id="1">What is React?


    </h2>
    <p>React is a JavaScript library that aims to simplify the development of visual interfaces.</p>
    <p>Developed at Facebook and released to the world in 2013, it drives some of the most widely used apps, powering
      Facebook and Instagram among countless other applications.</p>
    <p>Its primary goal is to make it easy to reason about an interface and its state at any point in time. It does this
      by dividing the UI into a collection of components.</p>
    <p>You might experience some initial difficulties when learning React. But once it "clicks", I guarantee it's going
      to be one of the best experiences you ever have. React makes many things easier, and its ecosystem is filled with
      great libraries and tools.</p>
    <p>React in itself has a very small API, and you basically need to understand 4 concepts to get started:</p>
    <ul>
      <li> Components</li>
      <li>JSX</li>
      <li>State</li>
      <li>Props</li>
    </ul>
    <p>We'll explore all of these in this book, and we'll leave the more advanced concepts to other tutorials. I will
      give you some pointers in the last section about how to move forward.</p>
    <br/>
    <p>And you can <a href="https://flaviocopes.com/page/react-handbook/">download this handbook in PDF / ePub / Mobi
      format for free.</a></p>

    <h2 id="2">How much JavaScript you need to know to use React

    </h2>
    <p>Before jumping straight into React, you should have a good understanding of some core JavaScript concepts.</p>
    <p>You don't have to be a JavaScript expert, but I think you need a good overview of:</p>
    <ul>
      <li><a href="https://flaviocopes.com/javascript-variables/">Variables</a></li>
      <li><a href="https://flaviocopes.com/javascript-arrow-functions/">Arrow functions</a></li>
      <li><a href="https://flaviocopes.com/javascript-rest-spread/">Work with objects and arrays using Rest and
        Spread</a></li>
      <li><a href="https://flaviocopes.com/javascript-destructuring/">Object and array destructuring</a></li>
      <li><a href="https://flaviocopes.com/javascript-template-literals/">Template literals</a></li>
      <li><a href="https://flaviocopes.com/javascript-callbacks/">Callbacks</a></li>
      <li><a href="https://flaviocopes.com/es-modules/">ES Modules</a></li>
    </ul>
    <img src="img/images/js2/image%2028.png" alt="1" style="width: 428px; height: 281px; position: absolute; top: 2150px; right: 100px;"/>

    <h2 id="3">How to install React




      </h2>
    <p>There are a few different ways to install React.</p>
    <p>To start with, I highly recommend one approach, and that's using the officially recommended tool called <b>create-react-app</b>.</p>
    <p><b>create-react-app</b> is a command line application, aimed at getting you up to speed with React in no time.</p>
    <br/>
    <p>You start by using <b>npx</b>, which is an easy way to download and execute Node.js commands without installing them.</p>
    <blockquote>See my npx guide here: <a href="https://flaviocopes.com/npx/">https://flaviocopes.com/npx/</a></blockquote>
    <p><b>npx</b> comes with <b>npm</b> (since version 5.2). If you don't have npm installed already, do it now from https://nodejs.org (npm is installed with Node).

      </p>
    <br/>
    <p>If you are unsure which version of npm you have, run npm -v to check if you need to update.</p>
    <blockquote> Tip: check out my OSX terminal tutorial at <a href="https://flaviocopes.com/macos-terminal/">https://flaviocopes.com/macos-terminal/</a> if you're unfamiliar      with
      using the terminal. It applies to Mac and Linux.</blockquote>
    <p>When you run <b>npx create-react-app &lt;app-name&gt;</b>, <b>npx</b> is going to download the most recent <b>create-react-app</b> release, run it, and then remove it from your system.

      </p>
    <p>This is great because you will never have an outdated version on your system, and every time you run it, you're getting the latest and greatest code available.</p>

    <br/>
    <br/>
    <p class="content-footer">Credit to : <a href="https://www.freecodecamp.org/news/react-beginner-handbook/">https://www.freecodecamp.org/news/react-beginner-handbook/</a></p>

  </div>
</div>

</body>
</html>