<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Course</title>
  <link href="css/index.css" rel="stylesheet"/>
</head>
<body>
<div class="main">
  <div class="sidenav">
    <div class="title">Lesson navigation</div>
    <ul>
      <li><a href="#">Merge k Sorted Lists</a></li>

    </ul>
  </div>
  <div class="content">
    <img src="img/images/py2/image%2053.png" alt="banner" style="width: 1000px; height: 1200px;"/>
    <br/>

    <img alt="code" src="img/images/py2/py22.png" style="width: 770px; height: 203px"/>
    <br/>
    <p class="mute"><i>This article is credit to <a
        href="https://leetcode.com/problems/merge-k-sorted-lists/">Leetcode</a></i></p>
  </div>
</div>

</body>
</html>