<center>
Sign up
<p>
<form action="/signup" method="post">
    <br>
        <div>Email</div>
        <input name="email" type="text" />
    </br>
    <br>
        <div>Password</div>
        <input name="password" type="password" />
    </br>
    <br>
        <div>Confirm password</div>
        <input name="confirmpassword" type="password" />
    </br>
    <br>
        <div>Display name</div>
        <input name="displayname" type="text" />
    <br>
        <input value="Sign up" type="submit" />
</form>
</p>
</center>
    
    